# Ignore node_modules in client folder
client-autocomlete/node_modules/
client-autocomlete/node_modules/

# Ignore dist folder in client folder
client-autocomlete/dist/

# Ignore .angular folder in client folder
client-autocomlete/.angular/

# Ignore node_modules in server folder
server-autocomlete/node_modules/

# Ignore dist folder in server folder
server-autocomlete/dist/