.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
    padding: 1rem; 
  }
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    padding: 1rem;
}
.custom-options {
    display: flex;
    align-items: center;

    i {
        padding-right: 10px;
    }
}
.cities-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
.input-search-custom-container {
    position: relative;
    

    input {
        padding: 10px 30px 10px 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        outline: none;
        box-sizing: border-box;
    }
    i{
        position: absolute;
        top:8px;
        left: 8px;
    }
}



